<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container-fluid">
    <div layout:fragment="content">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Systeme de gestion des patients</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Gérez l'hôpital avec l'aide du système HMS-PMS!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                </div>
            </div>
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/v4qxhPQ/nizar.png" alt="nizar" border="0"></a>
        </div>
    </div>
</div>
</body>
</html>